* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ddd;
}

header {
    font-family: 'Delius Unicase', 'sans-serif';
    font-weight: 400;

    background-image: linear-gradient(#000, #50504e);

    padding: 45px 150px;
}

header h1 {
    color: #f37700;
}

header h2 {
    color: #fff;
    font-size: 16px;
}

nav {
    padding-left: 150px;
    padding-block: 12px;

    background-image: linear-gradient(to bottom, #3b3b38 55%, #000 45%);
}

nav a {
    color: #fff;
    text-decoration: none;

    padding-right: 24px;   
}

.bg img {
    width: 100%;
}

.titulo {
    background-color: #fff;

    max-width: 1050px;
    width: 100%;

    padding: 12px 24px 0 0;
    margin-top: -4px;
    margin-left: 150px;

    text-align: right;
}

.conteudo, .conteudo img {
    width: 650px;
}

.conteudo h2 {
    padding-top: 40px;
    font-size: 24px;
}

.projetos {
    padding-inline: 12px;
    width: 250px;

    background-color: #FFE153;
    color: #f37500d2;

    border-radius: 0 0 12px 12px;
}

.projetos h2 {
    padding-block: 24px;
}

.projetos .sobre {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 16px;
    flex-wrap: wrap;
}

.localizacao {
    padding-bottom: 50px;
}

main {
    padding: 24px;
    border-radius: 0 0 6px 6px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    background-color: #fff;

    margin-left: 150px;

    max-width: 1050px;
    width: 100%;
}

footer {
    text-align: center;
    color: rgb(158, 154, 154);
    
    padding-top: 10px;
    padding-bottom: 100px;
}
